---
# Only the main Sass file needs front matter (the dashes are enough)
---
/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax",
    "starsnonscss"
;

@import "custom/customImport.scss";
@import "custom/customOverride.scss";

@import "custom/default"; // skin


.post-menu {
    padding-left: 20px;
    min-width: 200px;
    max-width: 450px;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-right: 0px;
    font-weight: 600;
  
    .post-menu-title {
      
      margin-bottom: 14px;
   
      color: #222;
    }
  
    .post-menu-content {

		$text-color:       #454545 !default;
      ul {
        border-left: 1px solid #e9ecef;
      //  $indent: $base-font-size / 4;
       $active-bgcolor: #ecebec;
  
        

	.h-h2{
		font-size: 0.9rem;
	}

	.h-h3{
		font-size: 0.75rem;
		margin-left: 15px;
	}
       
        
        a {
          display: flex;
          padding: 2px 8px;
          transition: 0.2s;
          color: darken($text-color, 10%);
  
          * {
            pointer-events: none;
          }
  
          &:hover {
            text-decoration: none;
            color: #21adad;
           // color: lighten($text-color, 20%)!important;
          }
        }
  
        .active {
          background-color: $active-bgcolor;
          transition: background 0.5s;
          border-left: 2px solid #202020;
          margin-left: -2px;
  
          &:hover {
            background-color: lighten($active-bgcolor, 2%);
          }
  
          a {
            color: #121416;
          }
        }
      }
    }
  }
  